*{
  margin: 0;
  padding: 0;
}
.f1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: cyan;
    border-radius: 15px;
    height: 300px;
    /* border-radius: 9999px; */
}
.song-play-poster {
  position: relative;
  left: 10px;
  width: 200px;          /* mobile default */
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
}

.player {
  margin-top: 15px;
  width: 350px;
}

.hidden {
  display: none !important;
}

#playBtn {
  background: #2ecc71;
  color: white;
  border: none;
  font-size: 18px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

#progress {
  width: 100%;
  accent-color: #2ecc71;
  cursor: pointer;
}


.img-text {
  width: fit-content;
  height: 260px;
}

.song-meta h2 {
  margin: 0;
  font-size: 1.4rem;
}

.song-meta p {
  margin: 0;
  font-size: 0.95rem;
}

.image-wrapper {
  position: relative;
  display: inline-block;   /* 🔥 THIS FIXES IT */
}


.play-overlay {
  position: absolute;
  bottom: 12px;
  right: 12px;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;

  background: #2ecc71;
  color: white;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translateY(10px);
  transition: 0.25s ease;
  cursor: pointer;
}

/* show only on image hover */
.image-wrapper:hover .play-overlay {
  opacity: 1;
  transform: translateY(0);
}


